<div class="container">
    <section>
        <picture>
            <source media="(min-width: 992px)" srcset="assets/images/programming_code_1200.jpg">
            <source media="(min-width: 768px)" srcset="assets/images/programming_code_992.jpg">
            <source media="(min-width: 576px)" srcset="assets/images/programming_code_768.jpg">
            <source media="(max-width: 575px)" srcset="assets/images/programming_code_576.jpg">
            <img class="img-fluid" src="assets/images/programming_code.jpg" alt="Programming Code">
        </picture>
    </section>
    <section>
        <h3>Featured Work</h3>
        <div class="row">
            <div class="col-md-4">
                <picture>

                </picture>
                <h4 class=""></h4>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </section>
</div>